h1 {
  font-size: 2em;
  margin: 0;
  line-height: 1.25em;
}

a:hover, a:focus {
  color: greenyellow;
}

.navbar-nav form .form-group {
    padding: 10px 15px;
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
    width: 100%;
    line-height: 20px;

    .form-control {
        display: inline-block;
        width: 80%;
        @media (min-width: 768px) {
          width: auto;
        }

    }
}